# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local

# Hardhat files
artifacts/
cache/
coverage/
coverage.json
typechain/
typechain-types/

# Editor files
.vscode/
.idea/
.DS_Store
*.swp
*.log
